<%- include('includes/head') %>
<%- include('includes/navigationvoice') %>

<body>

    <h1>Digitial Voice Modes In Ham Radio</h1>
    <h2>Digital Mobile Radio Mode</h2>
    <p> Digital Mobile Radio also known as(DMR) is a Digital Voice Mode that is used in Amatuer radio. The 
        Mode was originally desined for Commercial Radio systems but Ham radio Operators managed to make it work 
        within the Ham radio bands.
        DMR was orignially a Digital Voice standard that was developed by primarily Motorola And 
        Hytera but now other chinese manufactuers have started making the non-trunked tier DMR radios that are cheaper than 
        Motorola and Hytera Radios. 
    </p>

    <h2>DSTAR</h2>
    <p>DSTAR is another Digital Voice mode that was actually first developed in Japan for Amateur Radio operators.
        Unlike DMR DSTAR is a mode that was never made for commercial two way radio users so it identifies users by callsigns compared to DMR which uses 
        a ID number. DSTAR is th oldest Digital Voice mode that was made exclusivley made for Amateur radio users.

    </p>
    <h2>P25</h2>
    <p>P25 also known as Project 25 is a Digitial voice standard that was developed for public safety agencies 
        and hams have used it in the past. Project 25 has two phases. Phase 1 P25 could operate in 12.5 khz or 25 khz channels 
        but unlike DMR does not use TDMA to increase channel capacity so only one conversation can happen on a frequncy at a time. 
        Phase 2 P25 came out around 2012 and added TDMA capability to increase channel capacity but unfortunately hams do not 
        use phase 2 beacuse the radios are more expensive than Phase 1 radios. 
        P25 like DMR supports trunking for increased capacity but Hams will use the traditional repeater mode 
        for both P25 and DMR. 
    </p>
    <h2>Yaesu System Fusion</h2>
    <p> Yaesu System Fusion is a digital voice standard that was developed by the radio 
        manufactuer Yaseu and is a proprietary mode. The mode is like DSTAR in that it will trnasmit the users 
        callsign instead of an ID number beause it is desinged for comericial radio usage. 
    </p>
</body>
</html>