<%- include('includes/head') %>
<%- include('includes/navigationextra') %>

<body>

    <h1>Packet radio</h1>

    <h2>Description</h2>
    <p>Packet radio is a mode of transmitting data over Ham radio. 
    Packet radio can be transmiited over SSB or FM voice. Over HF Packet radio is usually tansmitted at a 
    speed out 300 baud and it is over SSB. On HF Pactor and other proocols can be used. ON VHF and UHF
    packet radio typically is transmiited at 1200 baud but can also be transimitted over FM up to 9600 baud. 
    On VHF and UHF AX.25 is the protocol that is used. Hams have figured out a way of 
    providing an internet connection over packet but it is extremely slow. 
    
    </p>
    <h2>Uses</h2>
    <p>Packet radio can be used to send email using winlink or for APRS to provide 
        short mesasges as well as location data. 
        Packet Radio can also be used for a BBS node like people used to do over dial up back in the 1980s and the 
        early to mid 1990s. 
    </p>
    
    <h2>My packet Radio Project</h2>
    <p>I am going to setup a packet Radio BBS using a Piece of software called LinBPQ. 
        The program runs on Linux and I will have games and other software apps on my BBS. 
        One of the programs will be a Chess Application wriiten in Python that should be easy to play by people that 
        are vision impaired. I will also have it run my Weeather Application that I built as apart of a 
        college class.The BBS at some point in time will also support people sending emails over winlink. The node should also 
        support people leaving messages for other people to recieve later. The BBs will run on a old HP mini 1000
        running AntiX linux distribution. The computer will also run a virtual TNC program called Direwolf that will connect to the BBS. 
        The computer will transmit the Packets made by Direwolf over a audio connection at 1200 baud into a UV5r radio. 

    </p>
    <img src="/images/BBS.jpg" alt="Example Photo of What the setup Would look like." height="800",width="600">

    <h2>BBS Software</h2>
    <p>All of the apps that are made by me or AI will be open source and you can view them on 
        my github page. 
        All of the software I am using is Free and open source. Direwolf is licensed under the GPL license 
        and LinBPQ is not open source to my knowlege but you can get it for free. 
    </p>

</body>
</html>