<%- include('includes/head') %>
<%- include('includes/navigation') %>

<body>

    <h1>licensing</h1>
    <p>There are Three License Classes. They are Technician, General, Amatuer extra</p>
</body>
</html>