<%- include('includes/head') %>
<%- include('includes/navigation') %>

<body>
    <h1>Welcome to Indiana Ham Radio </h1>

    
    <p>This websites goal is to show different Ham radio projects as well as different 
        ham radio modes. 
    </p>
    <form class="name-form" action="/" method="post"> 
        <div class="name-control">
            <label for="name">Enter your Email Address to be put on a mailing list if you want to hear about different ham radio projects.</label>
            <input type="text" name="name" id="name">
        </div>
        <button class="btn" type="submit">Submit email address</button>
    </form> 

 

</body>
</html>
